<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start" style="padding-left: 1em;">
      <ion-buttons>
        <ion-icon class="medium-icon" name="notifications"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>

<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="https://portfolio-lucas-vieira-souza-fullstack-dev.vercel.app/imgs.project/imgs/profilepic.jpeg" alt="avatar">
  </ion-avatar>
  <ion-label>
    <p>Hello,</p>
    <h3>Guest-2501</h3>
  </ion-label>
</ion-item>
</ion-header>
<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main container-files">
              <img class="custom-img-size" src="https://cfl.dropboxstatic.com/static/images/logo_catalog/twitter-card-glyph_m1%402x.png">
              <img src="../../assets/icon/files-icon.png" style="width: 60%">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Dropbox</ion-card-title>
            <ion-card-subtitle class="ion-text-right">10/20GB</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main container-files">
              <img  class="custom-img-size" src="https://www.freeiconspng.com/uploads/google-drive-icon-18.png">
              <img src="../../assets/icon/files-icon.png" style="width: 60%">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Google Drive</ion-card-title>
            <ion-card-subtitle class="ion-text-right">40/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.8" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main container-files">
              <img  style="padding-bottom: 1.8em;padding-top: 1.8em;" class="custom-img-size" src="https://seeklogo.com/images/M/mediafire-logo-8057F17F6B-seeklogo.com.png">
              <img src="../../assets/icon/files-icon.png" style="width: 60%">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Media Fire</ion-card-title>
            <ion-card-subtitle class="ion-text-right">05/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.1" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>